# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment variables / secrets
.env

# Django database
db.sqlite3

# VS Code
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Django collected static files
staticfiles/

# User uploaded files
media/